@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lemon', serif;
  
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#todo-container {
  width: 30rem;
  border-radius: 2rem;
  padding: 20px;
  margin-top: 10rem;
  background-image: linear-gradient(to bottom right, lime, pink 50%);
}

#task-list {
  list-style-type: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 1.25rem 0;
}

.task-actions {
  display: flex;
}

.task-actions button {
  margin-left: 0.3125rem;
  cursor: pointer;
  border: none;
  background: none;
  color: #e74c3c;
}

input[type="text"] {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
  font-size: 1.15rem;
  border-radius: 2rem;
}

button {
  width: 100%;
  padding: 1.2rem;
  border: none;
  background-color: lightslategray;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 2rem;
  border: 2px black solid;
}

button:hover {
  background-color: darkgreen;
  color: black;
}